$main-pink: #821252;
$pale-pink: #ffedf7;
$neutral-medium: #48404a;
$cyan: #0084bd;
$light-cyan: #66bade;

:root {
  --bg: #fff;
}


#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  background-image: url("assets/confetti-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Englebert', Verdana, Geneva, Tahoma, sans-serif;
}

#header {
  text-align: center;
  padding: 2%;
}

h1 {
  font-size: 100px;
  font-family: 'Sniglet', Verdana, Geneva, Tahoma, sans-serif;
  color: $main-pink;
  margin-bottom: 0;
  font-weight: 400;
}

input[type="text"] {
  width: 60%;
  border-style: solid;
  background-color: $pale-pink;
  height: 48px;
  font-size: 30px;
  padding-left: 15px;
  border-radius: 10px;
  border-width: 5px;
  color: $neutral-medium;
}

#search-bar {
  border-color: $main-pink;
}

#header button, Link, a, .navlink {
  display: inline;
  min-width: 50px;
  max-width: 30%;
  height: 48px;
  margin: 0px 15px;
  padding: 5px;

  font-size: 30px;
  font-family: 'Englebert', Verdana, Geneva, Tahoma, sans-serif;

  background-color: $light-cyan;
  color: aliceblue;
  
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: $cyan;
}