$main-pink: #821252;
$pale-pink: #ffedf7;
$neutral-medium: #48404a;
$cyan: #0084bd;
$light-cyan: #66bade;

:root {
  --bg: #fff;
}


#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  background-image: url("assets/confetti-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Englebert', Verdana, Geneva, Tahoma, sans-serif;
}

#header {
  text-align: center;
  padding: 2%;
}

h1 {
  font-size: 100px;
  font-family: 'Sniglet', Verdana, Geneva, Tahoma, sans-serif;
  color: $main-pink;
  margin-bottom: 0;
  font-weight: 400;
}

input[type="text"] {
  width: 60%;
  border-style: solid;
  background-color: $pale-pink;
  height: 48px;
  font-size: 30px;
  padding-left: 15px;
  border-radius: 10px;
  border-width: 5px;
  color: $neutral-medium;
}

#search-bar {
  border-color: $main-pink;
}

.navlink {
  display: inline;
  min-width: 50px;
  max-width: 30%;
  height: 48px;
  margin: 0px 15px;
  padding: 5px;

  font-size: 30px;
  font-family: 'Englebert', Verdana, Geneva, Tahoma, sans-serif;

  background-color: $light-cyan;
  color: aliceblue;
  
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: $cyan;
}

.gallerySquare {
  display: block;
  height: 200px;
  width: 200px;
  margin: 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

.searchResult {
  display: block;
  height: 150px;
  width: 60%;
  margin: 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

#galleryWall {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

.bean-white {
  background-color: antiquewhite;
  color: #48404a;
}

.bean-blue {
  background-color: rgb(30, 195, 250);
  color: #fcfcfc;
}

.bean-brown {
  background-color: rgb(59, 31, 31);
  color: #fcfcfc;
}

.bean-yellow {
  background-color: rgb(255, 246, 125);
  color: #281818;
}

.bean-pink {
  background-color: $pale-pink;
  color: $main-pink;
}

.bean-orange {
  background-color: orange;
  color: orangered;
}

.bean-green {
  background-color: greenyellow;
  color: green;
}

.bean-red {
  background-color: red;
  color: palegoldenrod;
}

Link {
  color: inherit;
  padding: 10px;
}

.beanDetails {
  display: flex;
  min-width: 60%;
  min-height: 500px;
  background-color: $pale-pink;
  border-style: solid;
  border-color: $main-pink;
  border-width: 2px;
  max-width: 65%;
  justify-content: center;
  flex-direction: column;
}

#detailsBG {
  text-align: center;
  display: flex;
  
  justify-content: center;
  align-items: center;
}

.beanHeader {
  width: 100%;
  display: block;
}

.prevnext {
  display: inline-block;
  min-width: 50px;
  max-width: 30%;
  height: 48px;
  margin: 15px 15px;
  padding: 5px;

  font-size: 30px;
  font-family: 'Englebert', Verdana, Geneva, Tahoma, sans-serif;

  background-color: $light-cyan;
  color: aliceblue;
  
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: $cyan;
}

#searchList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}